body {
    background-color: #333;
}

.head {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 40%;
    left: 40%;
    border-bottom-left-radius: 20px;
    border-bottom: 200px solid #ecbcb4;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    transform: rotate(150deg);
}

.head::before {
    content: "";
    position: absolute;
    height: 120px;
    width: 200px;
    top: 100px;
    left: -36px;
    border: solid 5px #a1665e;
    border-color: #a1665e transparent transparent transparent;
    border-radius: 50%/10px 10px 0 0;
}

.head::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 34px;
    background: #ecbcb4;
    border: 2px solid #a1665e;
}